@model IEnumerable<OrderSystem.Models.StockDetails>

@{
    ViewData["Title"] = "Shop";
}

<h1>Shop</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Add to Cart", "Add", new { code = item.Name }) |
                @Html.ActionLink("Remove from Cart", "Edit", new { code = item.Name }) |
            </td>
        </tr>
}
    </tbody>
</table>
